@charset "UTF-8";

/*** Reset CSS ***/
html {
    overflow-y: scroll;
}

html,
body {
    height: 100%;
    width: 100%;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
li,
dl,
dt,
dd,
table,
th,
td,
form,
fieldset,
legend,
input,
textarea,
button,
select,
strong,
b {
    font-size: 16px;
    line-height: 25px;
    font-family: 'Pretendard', 'Noto Sans Kr', 'sans-serif';
    margin: 0;
    padding: 0;
    color: #444
}

h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 100%;
    letter-spacing: -1px;
}

label {
    display: inline-block;
    cursor: pointer
}

input,
textarea,
select,
button,
table {
    font-family: 'Pretendard', 'Noto Sans Kr', 'sans-serif';
    font-size: 16px;
    color: #323232;
    font-weight: 400
}

img,
fieldset {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: middle;
}

th {
    font-weight: normal
}

li {
    list-style: none
}

em,
address {
    font-style: normal
}

a {
    text-decoration: none
}

a:link,
a:visited {
    color: #555
}

a:hover,
a:focus {
    color: #000
}

article,
aside,
dialog,
footer,
header,
section,
footer,
nav,
figure,
main {
    display: block;
    margin: 0;
    padding: 0
}

button,
input[type="submit"] {
    cursor: pointer
}

button {
    padding: 0;
    line-height: 100%;
    border-width: 0;
    background-color: transparent
}

legend {
    overflow: hidden;
    position: fixed;
    left: -1px;
    top: -1px;
    width: 1px;
    height: 1px;
    font-size: 0;
    line-height: 0
}

caption {
    height: 0;
    width: 1px;
    overflow: hidden;
    clip: rect(1px, 1px, 1px, 1px);
}

button {
    background-color: transparent
}

span,
div {
    line-height: 130%
}

li {
    line-height: 19px;
}

p {
    text-align: justify
}

* {
    box-sizing: border-box
}

a {
    transition: background .1s
}

.layout {
    max-width: 1400px;
    margin: 0 auto;
}

img {
    max-width: 100%;
    height: auto;
    border: 0;
    vertical-align: top;
}

@media (max-width:1024px) {

    body,
    p,
    ul,
    ol,
    li,
    dl,
    dt,
    dd,
    table,
    th,
    td,
    form,
    fieldset,
    legend,
    input,
    textarea,
    button,
    select {
        font-size: 14px;
        line-height: 24px
    }

    input,
    textarea,
    select,
    button,
    table {
        font-size: 14px;
        line-height: 18px
    }
}

a:focus,
button:focus,
input:focus,
textarea:focus,
select:focus,
input[type=text]:focus {
    outline: 2px solid rgba(72, 152, 255, 0.52) !important;
}

i {
    font-style: normal;
}

/***공통 기본***/
.hide {
    position: fixed;
    top: -5px;
    left: -5px;
    width: 1px;
    height: 1px;
    overflow: hidden;
    color: #000;
    background: #fff
}

/* 접근성으로 인한 display:none 작성 금지 */
.bold {
    font-weight: bold
}

.normal {
    font-weight: normal
}

input[type="text"],
input[type="password"] {
    height: 40px;
    border: 1px solid #c9c9c9;
    text-indent: 5px;
    background: #fff;
    color: #323232
}

input[type="text"]:focus,
textarea:focus,
select:focus {
    outline: 2px solid #77abe7
}

select::-ms-expand {
    display: none;
}


/*** 건너뛰기 메뉴 정의***/
#skip {
    position: relative;
    z-index: 9999
}

#skip a {
    position: absolute;
    top: -40px;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background-color: #033478;
    font-size: 14px;
    line-height: 30px;
    color: #fff;
    text-align: center;
    transition: all 0.4s
}

#skip a:hover,
#skip a:focus,
#skip a:active {
    top: 0;
    text-decoration: none
}

h1,h2,h3,p,span,a{

    line-height: 1.5;
}

@media (max-width:1400px){
    .layout{
        width: 100%;
        padding: 0 15px;
    }
}